@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}
button:hover {
  color: #04c;
}



.app-container {
  display: flex;
}

/* NAVBAR STYLES */

.app-navbar{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid rgb(233, 229, 229);
 


}
.nav--expand{
  
  color: black;
  font-size: 40px;
  align-self: start;
  margin-left: 40px;
  align-items: center;

}

.heading{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: black;
  font-style: normal;
  margin-bottom: 0;
}

.sub-heading{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: small;
  color: black;
  opacity: 40%;
  margin-top: 0;
}


  
/* SIDEBAR STYLES */

.app-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
  max-width: 30%;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid #ddd;
}
.app-sidebar-header h1 {
  margin: 0;
  display: flex;
}

.app-sidebar-add-button {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  padding-bottom: 1px;
}
.app-sidebar-note button {
  color: crimson;
}
.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #ddd;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: #08c;
  color: white;
}

.no-sidebar-note{
  width: 70%;
  
  margin: auto;
  padding-top: 25px;
  text-align: center;
  font-size: 1.5rem;
  color: #999;
}

.two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 70%;
  height: 100vh;
  border: 1px solid #ddd;
}


.no-active-note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.app-main-note-edit {
  padding: ;
}





.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}


.editor-title{
  display: flex;
  margin: 0;
  padding: 0;
  
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  
}

.editor-title-input{
  border: none;
  width: 90%;
  font-size: inherit;
  font-family: inherit;
  margin-right: auto;
  font-weight: bold;
}
.editor-title-input textarea{
  border: none !important;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
  
  
}

textarea :focus{
  outline: none !important;
}


.editor-title-button{
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin-right: 10px;
}


.editor-title-button button {
  display:flex;
  size: 20px;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 100px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
}

.editor-editor{
  width: 100%;
  height: 100%;
}
.editor-body{
  height: 100%;
  width: 100%;
  border: none;
}

.editor-body-preview{
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;
}
